<!doctype html>
<html>
<head>
<meta charset="utf-8">
</head>
<body>
<form method="POST" action="ajoutCommande.php">
<table>
<caption>Ajouter Commande</caption>
<tr>
<td>Id</td>
<td><input type="number" name="id" id="id" required ></td>
	<td><span id="missid"></span><br></td>
</tr>
<tr>
<td>Customer_Id</td>
	
<td><input type="number" name="id_cus" id="id_cus" required ></td>
	<td><span id="missid_cus"></span><br></td>
</tr>
<tr>
<td>Total_Price</td>
<td><input type="number" name="total_price" id="total_price" required ></td>
	<td><span id="misstotal_price"></span><br></td>
</tr>
<tr>
<td>Created</td>
<td><input type="date" name="created" id="created" required ></td>
	<td><span id="misscreated"></span><br></td>
</tr>
<tr>
<td>Modified</td>
<td><input type="date" name="modified" id="modified" required ></td>
<td><span id="missmodified"></span><br></td>	
</tr>
    <tr>
<td>Status</td>
<td><input type="number" name="status" id="status" required ></td>
<td><span id="missstatus"></span><br></td>	
</tr>
<tr>
<td></td>
<td><input type="submit" name="ajouter" value="ajouter" id="bouton"></td>
</tr>
</table>
</form>
	

<script>
	var formValid = document.getElementById('bouton');
            var id = document.getElementById('id');
            var missid = document.getElementById('missid');
            var idValid = /^[A-Za-zéèîïÉÈÎÏ][A-Zéèêàçîï]+([-'\s][A-Za-zéèîïÉÈÎÏ][A-Zéèêàçîï]+)?$/;
            
            formValid.addEventListener('click', validation);
            
            function validation(event){
                //Si le champ est vide
                if (id.validity.valueMissing){
                    event.preventDefault();
                    missid.textContent = 'Id manquant';
                    missid.style.color = 'red';
                //Si le format de données est incorrect
                }
                
            }
	var formValid = document.getElementById('bouton');
            var id_cus = document.getElementById('id_cus');
            var missid_cus = document.getElementById('missid_cus');
            var id_cusValid = /^[A-Za-zéèîïÉÈÎÏ][A-Zéèêàçîï]+([-'\s][A-Za-zéèîïÉÈÎÏ][A-Zéèêàçîï]+)?$/;
            
            formValid.addEventListener('click', validation1);
            
            function validation1(event){
                //Si le champ est vide
                if (id_cus.validity.valueMissing){
                    event.preventDefault();
                    missid_cus.textContent = 'Customer Id manquant';
                    missid_cus.style.color = 'red';
                //Si le format de données est incorrect
                }
            }
	var formValid = document.getElementById('bouton');
            var total_price = document.getElementById('total_price');
            var misstotal_price = document.getElementById('misstotal_price');
            var total_priceValid = /^[A-Za-zéèîïÉÈÎÏ][A-Zéèêàçîï]+([-'\s][A-Za-zéèîïÉÈÎÏ][A-Zéèêàçîï]+)?$/;
            
            formValid.addEventListener('click', validation2);
            
            function validation2(event){
                //Si le champ est vide
                if (total_price.validity.valueMissing){
                    event.preventDefault();
                    misstotal_price.textContent = 'Prix total manquant';
                    misstotal_price.style.color = 'red';
                //Si le format de données est incorrect
                }
            }
	var formValid = document.getElementById('bouton');
            var created = document.getElementById('created');
            var misscreated = document.getElementById('misscreated');
            var createdValid = /^[A-Za-zéèîïÉÈÎÏ][A-Zéèêàçîï]+([-'\s][A-Za-zéèîïÉÈÎÏ][A-Zéèêàçîï]+)?$/;
            
            formValid.addEventListener('click', validation3);
            
            function validation3(event){
                //Si le champ est vide
                if (created.validity.valueMissing){
                    event.preventDefault();
                    misscreated.textContent = 'date de creation manquante';
                    misscreated.style.color = 'red';
                //Si le format de données est incorrect
               }
            }
		var formValid = document.getElementById('bouton');
            var modified = document.getElementById('modified');
            var missmodified = document.getElementById('missmodified');
            var modifiedValid = /^[A-Za-zéèîïÉÈÎÏ][A-Zéèêàçîï]+([-'\s][A-Za-zéèîïÉÈÎÏ][A-Zéèêàçîï]+)?$/;
            
            formValid.addEventListener('click', validation4);
            
            function validation4(event){
                //Si le champ est vide
                if (modified.validity.valueMissing){
                    event.preventDefault();
                    missmodified.textContent = 'Date de modification manquante';
                    missmodified.style.color = 'red';
                //Si le format de données est incorrect
                }
            }
            
        var formValid = document.getElementById('bouton');
            var status = document.getElementById('status');
            var missstatus = document.getElementById('missstatus');
            var statusValid = /^[A-Za-zéèîïÉÈÎÏ][A-Zéèêàçîï]+([-'\s][A-Za-zéèîïÉÈÎÏ][A-Zéèêàçîï]+)?$/;
            
            formValid.addEventListener('click', validation);
            
            function validation(event){
                //Si le champ est vide
                if (status.validity.valueMissing){
                    event.preventDefault();
                    missstatus.textContent = 'Status manquant';
                    missstatus.style.color = 'red';
                //Si le format de données est incorrect
                }
            }
	
	</script>

</body>
</html>